<nav class="navbar">
  <div class="container">
    <a class="logo" href="/"><img src="../../assets/images/favicon.ico" alt="Logo" /></a>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li class="dropdown">
        <input list="languages" id="language-input" name="language" placeholder="Languages" />
        <datalist id="languages">
          <option value="English">
          <option value="Telugu">
          <option value="Kannada">
          <option value="Tamil">
          <option value="Hindi">
          <option value="Malayalam">
        </datalist>
      </li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="auth">
      <a id="login-signup" href="#">Login/Signup</a>
    </div>
  </div>
</nav>
